* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    box-sizing: border-box;
    max-width: 1500px;
    max-height: 1420px;
    background: black;
}

a {
    text-decoration: none;
}


img {
    max-width: 100%;
}

.logo img {
    width: 100px;
    height: 100px;
    align-items: end;
}


 li {
    display: inline-block;
    margin: 30px 40px;
 }

 nav a {
    color: #FFFFFF;
    font-size: 20px;

 }

 nav a:hover {
    transition: 0.5s ease-in-out;
    color: #35f9fe;
    border-bottom: 1px solid #35f9fe;
 }

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: black;
}

main {
    padding: 20px;
    background: black;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #FFFFFF;
    margin: 8px;
}

.principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 120px;
    border-radius: 10px;
   

}

.principal img {
    height: 400px;
    width: 400px;
    border-radius: 300px;
    margin: 50px 120px;

    
}

.principal h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: white;

}

.principal p {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: #35f9fe;
}

.formulario {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 40px 60px;
}

.formulario input {
    padding: 12px;
    border-radius: 4px;
    background: #35f9fe;
    border: 0px;
    font-size: 15px;
    font-weight: 400px;
    color: #000000;
}

.formulario button {
    padding: 12px;
    border-radius: 4px;
    background: #35f9fe;
    border: 0px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;
    cursor: pointer;

}


@media (max-width:999px) {

   .logo{
    justify-content: center;
   }

    .principal {
        display: flex;
        flex-direction: column;
    }
    .principal img {
        width: auto;
        height: auto;
    }
    
}

@media (max-width:500px) { 

    .principal h2 {
        font-size: 20px;
        text-align: center;
        line-break: 10ch;

    }

    .logo {
        display: flex;
        justify-content: center;
        width: 300px;
    }

   nav a {
    display: none;
    
    }
    

.principal img {
   display: none;
}


.lancamento {
   max-width: 400px;
}
.logo {
    justify-content: center;
}
.principal {
    max-width: 500px;
    max-height: 500px;
    text-align: left;
  
}

}

@media (max-width:400px) {
.lancamento {
    max-width: 300px;
}

.formulario {
    flex-direction: column;
}

}
   




